{% extends 'base.html' %} {% load cart_tags %} {% block content %}
<h1>Your Cart</h1>
<hr />

{% if cart_items %}
<table class="table">
  <thead>
    <tr>
      <th>Sno.</th>
      <th>Image</th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr>
      <td>{{forloop.counter}}</td>

      <td>
        <img style="height: 80px" class="rounded-circle" src="{{  item.product.image.url }}" alt="" />
      </td>
      <td>{{ item.product }}</td>
      <td>{{ item.product.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item|total_price }}</td>
      <td>
        <form method="post" action= "{% url 'remove_from_cart' item.product.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Remove</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">Your cart is empty.</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">Total:</th>
      <td><b> {{ cart_items|total_price_products }}</b></td>
      <!-- <td></td> -->
    </tr>
  </tfoot>
</table>

{% if user.is_authenticated %}

<div class="container mt-5">
  <h1>Shipping Address Form</h1>
  <form method="post" action="{% url 'cart' %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="shipping_address">Shipping Address:</label>
      <input type="text" class="form-control" id="shipping_address" name="shipping_address" />
    </div>
    <div class="form-group">
      <label for="shipping_city">Shipping City:</label>
      <input type="text" class="form-control" id="shipping_city" , name="shipping_city" />
    </div>
    <div class="form-group">
      <label for="shipping_state">Shipping State:</label>
      <input type="text" class="form-control" id="shipping_state" name="shipping_state" />
    </div>
    <div class="form-group">
      <label for="shipping_country">Shipping Country:</label>
      <input type="text" class="form-control" id="shipping_country" name="shipping_country" />
    </div>
    <div class="form-group">
      <label for="shipping_zip_code">Shipping Zip Code:</label>
      <input type="text" class="form-control" id="shipping_zip_code" name="shipping_zip_code" />
    </div>
    <!-- <button type="submit" class="btn btn-primary">Check out</output></button> -->
    <!-- <button type="submit" class="btn btn-primary">Place Order</button> -->
    <button type="submit" class="btn btn-primary">Place Order</button>

    <!-- <a href="{% url 'shipping_address' %}" class="btn btn-primary">Check out</a> -->
  </form>
</div>

{% else %}

<main>
  <div>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: white !important;
      }

      .user_card {
        width: 350px;
        margin-top: 40px;
        margin-bottom: 80;
        background: #74cfbf;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
      }

      .form_container {
        margin-top: 20px;
      }

      #form-title {
        color: #fff;
      }

      .login_btn {
        width: 100%;
        background: #33ccff !important;
        color: white !important;
      }

      .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }

      .login_container {
        padding: 0 2rem;
      }

      .input-group-text {
        background: #f7ba5b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
      }

      .input_user,
      .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
      }

      #messages {
        background-color: grey;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
      }
    </style>
    <h2>Please log in to place your order</h2>

    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
            <h3 id="form-title">LOGIN</h3>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form method="POST" action="{% url 'login_user' %}?next={{ request.path }}">
              {% csrf_token %}
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" name="username" placeholder="Username..." class="form-control" />
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password1" placeholder="Password..." class="form-control" />
              </div>

              <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" value="Login" />
              </div>
            </form>
          </div>

          <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Don't have an account?
              <a href="{% url 'register_user' %}" class="ml-2">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<br>
<br>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86d6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dNH4IxtlzTI7UksdQRVveyX9C9
        " crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% else %}
<p>Your cart is empty.</p>
{% endif %} {% endblock %}