{% extends 'base.html' %}

{% block content %}
<!-- product_list.html -->
<div class="container mt-3">
  <h1>Welcome to My E-Commerce Site</h1>
  <p class="lead">Browse our products and find what you need.</p>

  <div class="row">
    {% for product in products %}
    <div class="col-md-4">
      <div class="card">
        <img src="{{ product.image }}" class="card-img-top" alt="https://via.placeholder.com/150">
        <!-- <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}"> -->
        <!-- <img src="{{ MEDIA_URL }}{{ product.image.url }}" alt="{{ product.name }}"> -->

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p>Category: {{ product.product_category }}</p>
          <p>Quantity: {{ product.quantity }}</p>

          <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
          <form method="post" action="{% url 'add_to_cart' product_id=product.id %}">
            {% csrf_token %}
            <button type="submit">Add to cart1 </button>
        </form>
        <form action="{% url 'add_to_cart' product.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
          <!-- <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a> -->

          <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>




  


{% endblock %}